.bookmark-text-area {
  width: 400px;
}

.form-select {
  width: 400px;
}

.container-form {
  width: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: start;
  margin-left: 0;
  background-color: white;
  padding: 20px;
}
